/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, input {
    -webkit-appearance: none;
    border-radius: 0;
}
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end Reset */

* {
    box-sizing: border-box;
}

/* end Reset */


/* Styles */

body {
    background-color: #000812;
    background-image: url(../images/background-obama.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    text-align: center;
}
@media screen and (max-width: 479px) {
    img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}
header {}
header .headlines {}
header .headlines h1, header .headlines h2, header .headlines h3 {
    font-family: 'Open Sans', sans-serif;
}
header .headlines h1 {
    color: #f1f1f1;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 3px;
    padding: 8px 16px;
}
header .headlines h2 {
    color: #96100f;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 66px 16px 1px;
}
header .headlines h3 {
    color: #0099ff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 8px 16px 64px;
}
@media screen and (max-width: 799px) {
    header .headlines h1 {
        font-size: 36px;
        line-height: 1.2;
    }
    header .headlines h2 {
        font-size: 22px;
        line-height: 1.2;
    }
    header .headlines h3 {
        font-size: 18px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 469px) {
    header .headlines h1, header .headlines h2, header .headlines h3 {
        display: block;
    }
}
.action-wrapper {
    margin: 0 0 48px;
    position: relative;
}
.action-wrapper .background-bar {
    background-color: #962d3e;
    height: calc(100% - 270px);
    margin-top: 135px;
    position: absolute;
    width: 100%;
}
.action {
    background: #353535;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 600px;
    padding: 24px 60px 32px;
    position: relative;
    z-index: 99;
}
.action h2 {
    color: #F2EBC7;
    font-size: 36px;
    letter-spacing: normal;
    padding: 0px 0px 16px;
}
@media screen and (max-width: 479px) {
    .action h2 {
        font-size: 32px;
        padding: 0px 0px 16px;
    }
}
.action h4 {
    color: #F2EBC7;
    font-size: 20px;
    line-height: 1.2;
}
@media screen and (max-width: 479px) {
    .action h4 {
        padding: 0;
    }
}
.action .form-wrapper {
    max-width: 430px;
    width: 100%;
    position: relative;
    vertical-align: top;
    margin: 0 auto;
}
.action .form-wrapper #thanks {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 2;
    background: #222;
    z-index: 2;
    line-height: 1.6;
    font-size: 20px;
    color: white;
    padding: 14px;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    display: none;
    opacity: 0;
}
.action .form-wrapper input {
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    height: 60px;
    border: 0px;
    line-height: 60px;
    padding: 0px 20px;
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: 100;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.action .form-wrapper input:nth-of-type(1), .action .form-wrapper input:nth-of-type(2) {
    border-top: none;
}
@media screen and (max-width: 479px) {
    .action .form-wrapper input:nth-of-type(1), .action .form-wrapper input:nth-of-type(2) {
        display: none;
    }
    .action .form-wrapper input:nth-of-type(3) {
        border-top: none;
    }
    .action .form-wrapper input, .action .form-wrapper select {
        width: 100%;
        font-size: 18px;
    }
}
.action .form-wrapper button {
    width: 100%;
    background: #348899;
}
.action .form-wrapper button:hover {
    background: #3b9cb0;
}
.action span.disclaimer {
    clear: both;
    color: #979C9C;
    display: block;
    font-size: 15px;
    line-height: 1.4;
    margin: 20px auto 0;
    max-width: 430px;
    text-align: center;
}
.action-wrapper.counter-is-visible {
    margin: 0 0 140px;
}
.action-wrapper.counter-is-visible .counter {
    display: block;
}
.action-wrapper .counter {
    background-color: #979c9c;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    display: none;
    height: 100px;
    left: calc(50% - 160px);
    position: absolute;
    width: 320px;
}
.action-wrapper .flip-counter {
    height: 45px;
    margin: 14px auto 8px;
    overflow: hidden;
}
.action-wrapper .counter .label {
    clear: both;
    color: #333542;
    font-weight: bold;
}
button {
    height: 60px;
    border: 0px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Open Sans";
}
.protest {
    background-image: url(../images/bg-protest.png);
    background-size: cover;
    height: 460px;
    width: 100%;
}
.protest h4 {
    background-color: rgba(52, 136, 153, 0.91);
    color: #962D3E;
    display: inline-block;
    font-size: 42px;
    font-weight: bold;
    margin: 200px 0;
    padding: 8px 16px;
    text-transform: uppercase;
}
.protest h4 .white {
    color: #F6F4EA;
}
@media screen and (max-width: 479px) {
    .protest h4 {
        font-size: 32px;
    }
}
section {
    color: #222;
    padding: 42px 0px 25px 0px;
}
section a {
    color: #348899;
    font-weight: bold;
}
section a:hover {
    color: #3b9cb0;
}
section p {
    max-width: 800px;
    margin: 0px auto 25px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 32px;
}
section ul {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 36px auto 24px;
    max-width: 800px;
    padding: 0 32px;
    text-align: left;
}
section ul li {
    margin: 0 64px 16px 100px;
}
section ul li .fa {
    font-size: 24px;
    margin: 0 0 0 -36px;
    position: absolute;
}
@media screen and (max-width: 479px) {
    section ul li {
        margin: 0 16px 16px 52px;
    }
}
section button.add-your-name {
    background-color: #348899;
    margin: 8px 0 0;
    padding: 0 32px;
}
section button.add-your-name:hover {
    background-color: #3b9cb0;
}
.share {
    border-radius: 60px;
    padding: 10px 10px 0;
    background: #222;
    display: inline-block;
}
section .share {
    margin: 0 0 22px;
}
.overlay .gutter .modal .share {
    background: #eee;
    margin: 20px auto 10px auto;
}
.share a {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    font-weight: 500;
}
.share a.facebook {
    background: #3B5999 url(../images/fb_white.png) 15px 8px no-repeat;
    background-size: 25px 25px;
}
.share a.facebook:hover {
    background-color: #2B4989;
}
.share a.twitter {
    background: #4099FF url(../images/tw_white.png) 15px 8px no-repeat;
    background-size: 25px 25px;
}
.share a.twitter:hover {
    background-color: #3089ef;
}
.share a.email {
    background: #14ac2b url(../images/email_white.png) 15px 8px no-repeat;
    background-size: 25px 25px;
}
.share a.email:hover {
    background-color: #10A526;
}
.logos {
    background-color: #fff;
    margin: 0;
    padding: 64px 0 0;
    overflow: hidden;
}
.logos .clamp {
    margin: 0 auto;
    max-width: 970px;
}
.logos h4 {
    color: #348899;
    font-size: 24px;
}
.logos a {}
.logos a:hover {}
.logos img {
    background-color: #fff;
    height: auto;
    margin: 0px 20px 32px;
    max-width: 280px;
    vertical-align: middle;
}
.logos .smaller img {
    max-width: 210px;
}
.logos .larger {
    margin-bottom: 54px;
}
.logos .larger img {
    max-width: 320px;
    width: 85%;
}
.logos .medium {
    margin-bottom: 54px;
}
.logos .medium img {
    max-width: 280px;
}
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: table;
    display: none;
    z-index: 9001;
    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
    transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
}
.overlay.invisible {
    pointer-events: none;
    opacity: 0;
    left: 99999px;
    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
    transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
}
.overlay .gutter {
    display: table-cell;
    vertical-align: middle;
}
.overlay .gutter .modal {
    max-width: 550px;
    /*border-radius: 10px;*/
    background: white;
    color: black;
    margin: 0px auto;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    overflow: auto;
}
.overlay .modal a.close {
    position: absolute;
    right: 10px;
    top: 0px;
    color: black;
    opacity: .4;
    text-decoration: none;
    font-size: 30px;
}
.overlay .modal a.close:hover {
    opacity: .6;
}
.overlay .modal h1 {
    background: #348899;
    color: white;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 31px;
    margin-bottom: 25px;
    padding: 30px 16px;
    text-align: center;
}
.overlay .modal strong {
    font-weight: bold;
}
.overlay .modal h2 {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 25px;
    margin: 0px auto;
}
.overlay .modal p {
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 23px;
}
@media screen and (max-width: 767px) {
    .overlay .modal h1 {
        font-size: 18px;
    }
    .overlay .modal h2 {
        font-size: 16px;
        line-height: 21px;
        padding: 0px 15px;
    }
    .overlay .modal p {
        padding: 0px 12px;
        font-size: 15px;
        line-height: 21px;
    }
}
div.social-buttons {
    height: 115px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: calc((100% - 115px) / 2);
    width: 100px;
    z-index: 999;
}
@media screen and (max-width: 1100px) {
    div.social-buttons {
        text-indent: 999px;
        width: 33px;
    }
}
@media screen and (max-width: 479px) {
    div.social-buttons {
        display: none;
    }
}
div.social-buttons a {
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 33px;
    margin: 0 0 8px;
    padding: 0 0 0 29px;
    text-decoration: none;
    width: 100%;
}
div.social-buttons a.facebook {
    background-color: #39579a;
    background-image: url(../images/social/icon-fb.gif);
}
div.social-buttons a.twitter {
    background-color: #02aced;
    background-image: url(../images/social/icon-twitter.gif);
}
div.social-buttons a.email {
    background-color: #14ac2b;
    background-image: url(../images/social/icon-email.gif);
}
section.midnight-share-train {
    background-color: #22242D;
    margin: 32px 0 0;
}
section.midnight-share-train a:hover {
    color: #fff;
}
section.midnight-share-train h3 {
    font-size: 32px;
    color: #F6F4EA;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: none;
}
section.midnight-share-train p {
    color: #F6F4EA;
}

/* Checkbox */

.squaredFour {
    width: 20px;
    margin: 20px auto;
    position: relative;
    line-height: 1.2;
    font-size: 16px;
    display: block;
    text-align: left;
    width: 100%;
    color: #898989;
}
.squaredFour input[type=checkbox] {
    visibility: hidden;
    height: auto;
    width: 1px;
    padding: 0;
    margin: 0;
}
.squaredFour label.text {
    cursor: pointer;
    float: left;
    margin: -18px 0 24px;
    padding: 0 0 0 36px;
    position: relative;
}
.squaredFour label.checkbox {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}
.squaredFour label.checkbox:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredFour input[type=checkbox]:checked + label.checkbox:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
@media screen and (min-width: 480px) {
    .mobile {
        display: none;
    }
}
@media screen and (max-width: 479px) {
    .desktop {
        display: none;
    }
}
.privacy {
    background-color: #fff;
    margin: 0;
    clear: both;
    overflow: hidden;
    padding: 32px 32px 64px;
}
.privacy a {
    color: #348899;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}
.privacy a:hover {
    color: #3b9cb0;
}
